
#enterGame{
  width: 100px;
  height: 60px;
  border: solid blue;
  border-radius: 16px;
}

#modal{
  margin-left: 35%;
  margin-top: 18%;
  position: absolute;
  width: 400px;
  height: 200px;
  border: solid black;
  border-radius: 20px;
  text-align: center;
  background: pink;
  display: none;
}
#modal2{
  width: 300px;
  height: 150px;
  border-radius: 13px;
  border:solid #00366F;
  background: #569AC7;
  position: absolute;
  left: 41%;
  top: 35%;
  z-index: 1;
  font-size: 30px;
  color:black;
  visibility: hidden;
}
#submit{
  width: 120px;
  height: 60px;
  border:solid green;
  margin-top: 20px;
  border-radius: 20px;
}
#gamePageHead {
  width: 300px;
  height: 90px;
  border: solid black;
  margin-left: 38.4%;
  margin-top: 15px;
  border-radius: 18px;
  text-align: center;
  font-family: 'Srisakdi', cursive;
  font-size: 20px;
  background-color:#8DCDF3;
}
/*  colors: #00366F #99DCFF #569AC7 #8DCDF3 #C99983*/
#gamePageHead h1{
  color:#ed73bf;
}
#gamePageHead img{
  width: 500px;
  position: absolute;
  bottom: 75%;
  left: 32%;
}
#mainbody{
  border: solid purple;
  display: flex;
  margin-top:30px;
}
#categories{
  width: 200px;
  border: solid purple;
}
#categories img{
  width: 210px;
  position: absolute;
  bottom: 67%;
  left: 10px;
  /* margin-bottom: 50px; */
}
#categories h2{
  z-index: 1;
  font-size: 30px;
  text-align: center;
  font-family: 'Srisakdi', cursive;
}
#categories a{
  text-decoration: none;;
}
#categories ul{
  height: 400px;
  margin-top:45px;
}
#categories li{
  color:#2B5C80;
  font-size: 23px;
  font-family: 'Srisakdi', cursive;
}
#deckDisplay{
  flex:2;
  overflow: hidden;
}
#imagesBoard{
  overflow: hidden;
  width:100%;
  height: 500px;
  border:solid black;
  animation: changeColor 20s infinite;
}
#imagesBoard img{
  margin-left: 43%;
  margin-top: 25%;
}
#par{
  font-size: 25px;
  margin-left: 35%;
}
@keyframes changeColor {
  0%{
    background: #f245e4;
  }
  20%{
    background: #f74a79;
  }
  40%{
    background: #f37b30;
  }
  60%{
    background: #ffab05;
  }
  80%{
    background: #ed73bf;
  }
  100%{
    background: #daa520;
  }
}
#imageHolder{
  width: 900px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 67%;
  left:20px;
  z-index: 1;
  visibility: hidden;
}
 .images{
  border:solid #8DCDF3;
  background: url("images/backOfcard.jpg");
  background-size: cover;
  width: 202px;
  height: 220px;
  margin-left: 15px;
  border-radius: 7px;
}
#actualImages{
  width: 900px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top:20%;
  left: 16.9%;
  visibility: hidden;
}
#actualImages img{
  width:201px;
  height: 220px;
  border: solid black;
  margin-left: 15px;
  margin-top: 5px;
}
/*#29191C #CAB18E #0D0F24 #8DCDF3 #2B5C80 #807060*/
#optionsBoard{
  background: #99DCFF;
  font-family: 'Srisakdi', cursive;
  width: 800px;
  height: 500px;
  border: solid #2B5C80;
  border-radius: 10px;
  margin-left: 75px;
}
#optionsBoard button{
  font-family: 'Lobster Two', cursive;
  font-size:25px;
  color:#0D0F24;
  background: #8DCDF3;
  border: solid #2B5C80;
}
#hint{
  margin-left: 42%;
  width: 100px;
  height:100px;
  border-radius: 50%;
}
#questionTaker{
  text-align:center;
  font-size: 40px;
  font-weight: bold;
}
.leftHand{
  margin-left: 28%;
  width: 200px;
  height: 70px;
  margin-top: 30px;
  border-radius: 20px;
}
.rightHand{
  width: 200px;
  height: 70px;
  border-radius: 20px;
  margin-left:80px;
}
#scoreBoard{
  font-family: 'Srisakdi', cursive;
  width: 250px;
  border:solid purple;
}
#scoreBoard img{
  width: 270px;
  position: absolute;
  bottom: 67%;
  left: 81%;
}
#scoreBoard h3{
  text-align: center;
  font-size: 30px;
}
#thePlayer{
  font-size: 30px;
}
#boardContent{
  margin-left: 20px;
  width: 200px;
  height: 400px;
  overflow: scroll;
  border: solid yellow;
}
#boardContent h1{
  text-align: center;
}
#boardContent p{
  color: #2B5C80;
}
#scoreCounter {
  font-family: 'Srisakdi', cursive;
  margin-left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:solid #2B5C80;
  background: #99DCFF ;
  font-size: 60px;
}
#boardContent2{
  margin-top:10px;
  margin-left: 20px;
  width: 200px;
  height: 400px;
  overflow: scroll;
  border: solid yellow;
}
#scoreCounter2{
  font-family: 'Srisakdi', cursive;
  margin-left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:solid #2B5C80;
  background: #99DCFF ;
  font-size: 60px;
}
#thePlayer2{
  font-size: 30px;
}
#boardContent2 h1{
  text-align: center;
}
#boardContent2 p{
  color: #2B5C80;
}
